@import "../../../styles/variables";
@import "../../../styles/mixins";

.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 224px 224px;
  gap: 28px 24px;

  .productItemLarge {
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 300px 300px;

    .productItemLarge {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 300px);

    .productItemLarge {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.productImage {
  width: 100%;
  height: calc(100% - 35px);
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 12px;
}

.productItemTitle {
  color: $text-dark;
  font-weight: $font-weight-medium;
  font-size: $font-size-md;
}
