@import "../../../styles/variables";
@import "../../../styles/mixins";

.main {
  padding-top: 106px;

  @include tablet {
    padding-top: 86px;
  }

  @include mobile {
    padding-top: 64px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 20px;

  @include tablet {
    padding: 0 40px;
  }
  
  @include mobile {
    padding: 0 20px;
  }
}