body {
  font-family: $font-primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
  color: $text-white;
  background-color: $bg-white;
}

button {
    cursor: pointer;
}