@import "../../../styles/variables";
@import "../../../styles/mixins";

.about {
  @include section-min-height;
  display: flex;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  width: 35%;

  @include tablet {
    width: 45%;
    gap: 50px;
  }

  @include mobile {
    width: 100%;
    z-index: 1000;
    align-items: center;
  }

  &Title {
    color: $text-dark;
    font-weight: $font-weight-bold;
    font-size: $font-size-xxxl;
  }

  &Text {
    color: $text-medium;

    @include mobile {
      text-align: center;
    }
  }

  &Postulates {
    display: flex;
    gap: 16px;
  }

  &Postulate {
    width: 78px;
    height: 78px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.1);
    }
  }
}

.aboutAvatars {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  @include section-min-height;

  @include tablet {
    width: 55%;
  }

  @include mobile {
    width: 100%;
    opacity: 0.2;
    z-index: 1;
  }
}

.aboutAvatar {
  position: absolute;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.4s ease;
    box-shadow: $shadow-sm;
  }

  &:hover {
    z-index: 100;
    
    img {
      transform: scale(1.15);
      box-shadow: $shadow-xl;
      filter: brightness(1.1) contrast(1.1);
      border-radius: 50%; 
    }
  }

  &.avatar1 {
    top: 10%;
    right: 15%;
    width: 120px;
    height: 120px;
    opacity: 0.8;

    @include desktop {
      width: 100px;
      height: 100px;
    }

    @include tablet {
      width: 80px;
      height: 80px;
    }

    @include mobile {
      width: 60px;
      height: 60px;
    }

    &:hover {
      opacity: 1;
      
      img {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; 
      }
    }
  }

  &.avatar2 {
    top: 18%;
    right: 50%;
    width: 170px;
    height: 170px;

    @include desktop {
      width: 150px;
      height: 150px;
    }

    @include tablet {
      top: 28%;
      width: 130px;
      height: 130px;
    }

    @include mobile {
      width: 120px;
      height: 120px;
    }

    &:hover img {
      border-radius: 40% 60% 60% 40% / 40% 50% 50% 60%;
    }
  }

  &.avatar3 {
    top: 5%;
    left: 2%;
    width: 130px;
    height: 130px;
    opacity: 0.3;

    @include desktop {
      width: 110px;
      height: 110px;
    }

    @include tablet {
      width: 90px;
      height: 90px;
    }

    @include mobile {
      width: 70px;
      height: 70px;
    }

    &:hover {
      opacity: 1;
      
      img {
        border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
      }
    }
  }

  &.avatar4 {
    bottom: 8%;
    right: 60%;
    width: 268px;
    height: 268px;

    @include desktop {
      width: 220px;
      height: 220px;
    }

    @include tablet {
      width: 180px;
      height: 180px;
    }

    @include mobile {
      width: 140px;
      height: 140px;
    }

    &:hover img {
      border-radius: 20% 80% 50% 50% / 50% 40% 60% 50%;
    }
  }

  &.avatar5 {
    bottom: 12%;
    right: 6%;
    width: 336px;
    height: 336px;

    @include desktop {
      width: 280px;
      height: 280px;
    }

    @include tablet {
      width: 220px;
      height: 220px;
    }

    @include mobile {
      width: 180px;
      height: 180px;
    }

    &:hover img {
      border-radius: 50% 50% 30% 70% / 40% 60% 40% 60%;
      transform: scale(1.2) rotate(5deg);
    }
  }
}

.aboutAvatars:hover .aboutAvatar:not(:hover) {
  opacity: 0.7;
  filter: grayscale(0.5);
}